{% load customfilter %}
<div class="container-fluid">
    <form action=" " id="donation-form">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ donation.id }}">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group mb-3 ">
                    <label for="donor_name" class="control-label">Donor Name</label>
                    <input type="text" class="form-control rounded-0" id="donor_name" name="donor_name" value="{{ donation.donor_name }}" required>
                </div>
                <div class="form-group mb-3 ">
                    <label for="donor_gender" class="control-label">Gender</label>
                    <select name="donor_gender" id="donor_gender" class="form-select rounded-0" required="required">
                        {% if donation.donor_gender == '1' %}
                        <option selected>Male</option>
                        {% else %}
                        <option>Male</option>
                        {% endif %}
                        {% if donation.donor_gender == '2' %}
                        <option selected>Female</option>
                        {% else %}
                        <option>Female</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group mb-3 ">
                    <label for="donor_email" class="control-label">Donor Email</label>
                    <input type="text" class="form-control rounded-0" id="donor_email" name="donor_email" value="{{ donation.donor_email }}" required>
                </div>
                <div class="form-group mb-3 ">
                    <label for="donor_contact" class="control-label">Donor Contact</label>
                    <input type="text" class="form-control rounded-0" id="donor_contact" name="donor_contact" value="{{ donation.donor_contact }}" required>
                </div>
                <div class="form-group mb-3 ">
                    <label for="donor_address" class="control-label">Donor Address</label>
                    <textarea rows="3" class="form-control rounded-0" id="donor_address" name="donor_address" required>{{ donation.donor_address }}</textarea>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group mb-3 ">
                    <label for="transfusion_date" class="control-label">Dontaion/Transfusion Date</label>
                    <input type="date" class="form-control rounded-0" id="transfusion_date" name="transfusion_date" value="{{ donation.transfusion_date|date:'Y-m-d' }}" required>
                </div>
                <div class="form-group mb-3 ">
                    <label for="blood_group" class="control-label">Blood Group</label>
                    <select name="blood_group" id="blood_group" class="form-select rounded-0" required="required">
                        {% if not  donation.blood_group %}
                        <option value="" disabled selected>Please Select Here</option>
                        {% endif %}
                        {% for bg in blood_groups %}
                        {% if donation.blood_group.id == bg.id %}
                        <option value="{{ bg.id }}" selected>{{ bg }}</option>
                        {% else %}
                        <option value="{{ bg.id }}">{{ bg }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3 ">
                    <label for="donation_volume" class="control-label">Volume (ml)</label>
                    <input type="number" step="any" class="form-control rounded-0 text-end" id="donation_volume" name="donation_volume" value="{{ donation.donation_volume }}" required>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#donation-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg text-light")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                url: "{% url 'save-donation' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured ", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg ")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.html(resp.msg)
                    } else {
                        el.text("An error occured ", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal ").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>