{% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none !important
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <dl>
                <dt>Patient's Name</dt>
                <dd class="ps-4 fw-bolder text-primary">{{ brequest.patient_name }}</dd>
                <dt>Patient's Gender</dt>
                <dd class="ps-4 fw-bolder text-primary">{{ brequest.patient_gender }}</dd>
                <dt>Blood Group</dt>
                <dd class="ps-4 fw-bolder text-primary">{{ brequest.blood_group }}</dd>
                <dt>Volume</dt>
                <dd class="ps-4 fw-bolder text-primary">{{ brequest.volume|floatformat:2|intcomma }}</dd>
                <dt>Physician's Name</dt>
                <dd class="ps-4 fw-bolder text-primary">{{ brequest.physician_name }}</dd>
                <dt>Status</dt>
                <dd class="ps-4 fw-bolder text-primary">
                    {% if brequest.status == '1' %}
                    <span class="badge badge-sm bg-secondary text-sm px-4 py-1 bg-gradient rounded-pill">Pending</span> {% elif brequest.status == '2' %}
                    <span class="badge badge-sm bg-info text-sm px-4 py-1 bg-gradient rounded-pill">Approved</span> {% elif brequest.status == '3' %}
                    <span class="badge badge-sm bg-primary text-sm px-4 py-1 bg-gradient rounded-pill">Handed-Over</span> {% elif brequest.status == '4' %}
                    <span class="badge badge-sm bg-danger text-sm px-4 py-1 bg-gradient rounded-pill">Denied</span> {% endif %}
                </dd>
            </dl>
        </div>
    </div>
    <div class="text-end mt-3">
        <button class="btn btn-light bg-gradient btn-sm rounded-0 mb-0" type="button" data-bs-dismiss="modal"><i class="material-icons">close</i> Close</button>
    </div>
</div>